# Virtual environments
*venv/
py312venv/

# Byte-compiled files
__pycache__/
*.pyc   

# egg-info
*.egg-info/src/*.egg-info/
aviation_rul.egg-info/

# model files
models/

# Concept planning
plan.md

# Coverage reports
htmlcov/
coverage.xml
.coverage